body {
    /* text-align: center; */
    color: #36313C;
    background-color: #f6f6fa;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

h4 {
    padding-left: 10vw;
}

a {
    color: inherit;
}

/* All classes */

.header {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0 25% 2rem 25%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 3px solid #0957ff3f;
    background: #F7FCFF;
}

.name-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid #0957ff3f;
}

#headerRating {
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

#headerRating h4{
    padding-right: 3rem;
}

.sortBy {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 2rem;
    align-items: center;
}

.sortBy a {
    text-decoration: inherit;
    padding: 0.5rem 1rem;
    border: 2px solid #cccdcf;
    font-size: 1.3rem;
    font-weight: 600;
    color: #4d4853;
    background: #F7FCFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* All IDs */

#productPicture {
    max-width: 250px;
    height: 100%;
    padding: 0rem 0 2rem 0;
}

#reviewManager {
    padding: 1rem 0 2rem;
    border-top: 2px solid #E5E7EB;
}

#reviewButton {
    padding: 0.8rem 13rem;
    text-decoration: inherit;
    margin-bottom: 8rem;
    border: 2px solid #cccdcf;
    font-size: 1.3rem;
    font-weight: 600;
    color: #4d4853;
    background: #F7FCFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

#reviewSection {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 1.5rem;
    justify-content: space-around;
}

.review {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 2px solid #E5E7EB;
    margin-bottom: 1rem;
    color: #4B5563;
    background: #F7FCFF;
    width: 47%;
    min-height: 20vh;
}

.review p {
    margin: 0.5rem 0;
}

.innerReview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}

.ratingAndDate {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 0.5rem;
    width: 100%;
}

.commentAndImage {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment {
    width: 80%;
    min-height: 200px;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.comment p {
    margin: 0.5rem 0;
}

p.author {
    padding-top: 0.25rem;
    border-top: 1px solid #E5E7EB;
    width: 70%;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

/* FORM STYLING */

#formTitle {
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    margin-left: 13%;
}

input {
    margin-bottom: 1rem;
    margin-left: 10%;
    padding: 0.5rem 0.3rem;
    width: 80%;
    border-radius: 0.3rem;
    border: 2px solid #E5E7EB; 
}

select {
    margin-bottom: 1rem;
    margin-left: 10%;
    padding: 0.5rem 1rem;
    width: 30%;
    border-radius: 0.3rem;
    border: 2px solid #E5E7EB;
}

#cke_review_comment {
    margin-bottom: 1rem;
    margin-left: 10%;
    width: 80%;
    border-radius: 0.3rem;
    border: 2px solid #E5E7EB;
}

#review_picture {
    border-radius: 0;
    padding-left: 2rem;
    border: none;
}

button#review_save {
    padding: 0.5rem 1rem;
    margin: 0.5rem 8% 1rem;
    border: 2px solid #cccdcf;
    font-size: 1.3rem;
    font-weight: 600;
    color: #4d4853;
    border-radius: 0.5rem;
    cursor: pointer;
}

.fa-star, .fa-star-o, .fa-star-half-o {
    color: orange;
  }


@media screen and (max-width: 1150px) {
    .sortBy a {
        text-decoration: inherit;
        padding: 0.3rem 0.5rem;
        border: 2px solid #cccdcf;
        font-size: 1rem;
        font-weight: 400;
        color: #4d4853;
        background: #F7FCFF;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    #reviewSection {
        flex-direction: column;
    }

    .review {
        width: 95%;
    }
}