body {
    /* text-align: center; */
    color: #36313C;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 10vw;
}

a {
    color: inherit;
}

/* All classes */

.header {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0 25% 2rem 25%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #0957ff3f;
    background: #F7FCFF;
}

.name-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid #0957ff3f;
}

#headerRating {
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

#headerRating h4{
    padding-right: 3rem;
}

.sortBy {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0.5rem;
}

/* All IDs */

#productPicture {
    max-width: 500px;
    height: 100%;
}



#reviewSection {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 1.5rem;
    justify-content: space-around;
}

.review {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid rgb(229,231,235);
    margin-bottom: 1rem;
    color: #4B5563;
    background: #F7FCFF;
    width: 47%;
    min-height: 20vh;
}

.review p {
    margin: 0.5rem 0;
}

.innerReview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}

.ratingAndDate {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(229,231,235);
    margin-bottom: 0.5rem;
    width: 100%;
}

.commentAndImage {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment {
    width: 80%;
    min-height: 200px;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.comment p {
    margin: 0.5rem 0;
}

p.author {
    padding-top: 0.25rem;
    border-top: 1px solid rgb(229,231,235);
    width: 70%;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

@media screen and (max-width: 1099px) {
    #reviewSection {
        flex-direction: column;
    }

    .review {
        width: 95%;
    }
}